<%= simple_form_for @matome, :html => { :class => 'form-horizontal' } do |f| %>
<h3>タイトル</h3>
  <%= text_field :matome, :name , :size => 80, :class => "inputfield" %>
<h3>説明</h3>
  <%= text_area :matome, :description , :size => "80x3", :class => "inputfield" %>
<h3>デフォルトのプログラム言語(※コード追加時に他の言語も選択できます)</h3>
<div class="inputfield">
  <%= f.collection_select(:codetype_id, Codetype.all, :id, :name) %>
</div>
<hr>

<%= f.button :submit, :class => 'btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              matomes_path, :class => 'btn btn-default' %>
<% end %>
