<p id="notice"><%= notice %></p>

<h1>Togistter</h1>

最近のまとめ
    <% @matomes.each do |matome| %>
      <tr>
        <td><%= matome.name %></td>
        <td><%= matome.description %></td>
        <td><%= link_to 'Show', matome %></td>
        <td><%= link_to 'Edit', edit_matome_path(matome) %></td>
        <td><%= link_to 'Destroy', matome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<br>

<%= link_to 'あたらしくまとめを作る', new_matome_path %>
