<%= form_for(@gist) do |f| %>
  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Gistのアドレス<br>
    <%= f.text_field :gisturl %>
  </div>
  <div class="field">
    説明<br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :matome_id %><br>
    <%= f.number_field :matome_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    （Gistではない場合）ソースコード<br>
    <%= f.text_area :code %>
  </div>
  <div class="field">
    プログラム言語<br>
    <%= f.number_field :codetype_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
