<%= simple_form_for [@matome, @gist], :html => { :class => "form-horizontal gist" } do |f| %>

    <%= f.input :gisturl %>
    <%= f.input :description %>
    <%= f.input :code %>
    <%= f.input :codetype_id, collection: Codetype.all.map { |c| [c.name, c.id] },as: :radio_buttons %>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            matome_gists_path, :class => 'btn btn-default' %>
</div>
<% end %>
